# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.builder4.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Workbench\dotnet\builder4\.idea\.idea.builder4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
